* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: $font-family;
color: $text-color;
background-color: #fff;
line-height: 1.5;
}


a {
text-decoration: none;
color: inherit;
}

img {
max-width: 100%;
display: block;
}